
body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 40px;
  background-color: #f0f0f0;
}


h1 {
color: rgb(35, 98, 35);

}

button {
  margin: 30px;
  padding: 10px 50px;
  font-size: 18px;
  cursor: pointer;
  background-color: ;

}

/* Effet au survol */
button:hover {
  background-color:rgb(83, 184, 83);
}


#resultat {
  margin-top: 100px;
  font-weight: bold;
  font-size: 40px;
  color: rgb(154, 31, 154);
}


